<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}Masonite 4{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link
      href="/assets/css/app.css"
      rel="stylesheet"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="bg-gray-800" x-data="menu">
      <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
          <div class="flex items-center px-2 lg:px-0">
            <a href="/" class="flex items-center">
              <div class="flex-shrink-0">
                <img src="/logo.png" alt="Masonite Logo" class="h-8 w-auto">
              </div>
              <span class="font-medium text-lg text-white hidden lg:block ml-2">Masonite Packages</span>
            </a>
            <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
              <div class="max-w-xl w-full lg:max-w-2xl">
                <label for="search" class="sr-only">Search</label>
                <div class="relative">
                  <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <!-- Heroicon name: solid/search -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true">
                      <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd" />
                    </svg>
                  </div>
                  <input id="search" name="search"
                    class="block w-full pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 bg-gray-700 text-gray-300 placeholder-gray-400 focus:outline-none focus:bg-white focus:border-white focus:ring-white focus:text-gray-900 sm:text-sm"
                    placeholder="Search" type="search">
                </div>
              </div>
            </div>
          </div>
          <div class="hidden lg:block lg:ml-6">
            <div class="flex space-x-4">
              <a href="/packages" :class="isActive() && 'nav-link-active'" class="nav-link">Packages</a>
              <a href="/faq" :class="isActive() && 'nav-link-active'" class="nav-link">FAQ</a>
              <a href="https://docs.masoniteproject.com/" target="_blank" class="nav-link">Masonite Docs</a>
            </div>
          </div>
          <div class="flex lg:hidden">
            <!-- Mobile menu button -->
            <button
              x-on:click="toggle"
              type="button"
              class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
              aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!-- Icon when menu is closed.-->
              <svg
                x-show="!opened"
                class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
              <!-- Icon when menu is open. -->
              <svg
                x-show="opened"
                class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="lg:hidden" id="mobile-menu" x-show="opened">
        <div class="px-2 pt-2 pb-3 space-y-1">
          <a href="/packages" :class="isActive() && 'nav-link-active'" class="nav-link block">Packages</a>
          <a href="/faq" :class="isActive() && 'nav-link-active'" class="nav-link block">FAQ</a>
          <a href="https://docs.masoniteproject.com/" target="_blank" class="nav-link block">Masonite Docs</a>
        </div>
      </div>
    </nav>
    <div class="h-screen bg-gray-800">
      <div class="max-w-7xl pt-10 container px-20 mx-auto">
      {% block content %}{% endblock %}
      </div>
    </div>
    <script defer src="/assets/js/app.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
