{% extends "base.html" %}
{% block title %}Masonite Packages{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center pt-10">
  <h1 class="text-white text-5xl mb-4 tracking-wide">
    Find the Best Masonite Packages
  </h1>
  <p class="text-gray-500 text-lg">Don't loose time recoding the community already covered.</p>

  <div class="mt-10 grid grid-cols-2 gap-4">
    <div class="flex flex-col space-y-3">
      <h2 class="text-white">Last added packages</h2>
        {% for package in last_packages %}
          <!-- <a href="{{ url('package.details') }}" class="bg-gray-700 rounded-md p-4 block"> -->
          <a href="/packages/{{ package.slug }}/" class="bg-gray-700 rounded-md p-4 block">
            <p class="text-white">{{ package.name }}</p>
            {% if package.is_official %}
            <span class="badge badge-green">
              Official
            </span>
            {% else %}
            <span class="badge badge-yellow">
              Community
            </span>
            {% endif %}
          </a>
        {% endfor %}
      </div>
    <h2 class="text-white">Best rated packages</h2>
  </div>
</div>
{% endblock %}
