{% extends "base.html" %}
{% block title %}Masonite packages{% endblock %}

{% block content %}
  <div class="grid grid-cols-4 gap-4">
  {% for package in packages %}
    <!-- <a href="{{ url('package.details') }}" class="bg-gray-700 rounded-md p-4 block"> -->
    <a href="/packages/{{ package.name }}/" class="bg-gray-700 rounded-md p-4 block">
      <p class="text-white">{{ package.name }}</p>
      {% if package.is_official %}
      <span class="badge badge-green">
        Official
      </span>
      {% else %}
      <span class="badge badge-yellow">
        Community
      </span>
      {% endif %}
    </a>
  {% endfor %}
  </div>
{% endblock %}
